extends ./layout.jade

extend layout
block style
  style.
    a {
      text-decoration: none;
    }
    table.commit-list {
      width: 100%;
      max-width: 1280px;
    }
    .commit-list img {
      vertical-align: middle;
      margin-right: 1em;
    }
    table.commit-list td {
      height: 40px;
      padding: 8px;
      border-top: 1px solid #ddd
    }
    .pr-id {
      font-size: 200%;
    }
    .commit-list tr:target {
      background: #ffffee;
    }
    .commit-author {
      white-space: nowrap;
    }

block body
  h2= ref.id

  form(action="build", method="post")
    button(type="submit") Build target

  if org && repo
    h3 Source Repository
    p
      a(href="http://github.com/" + org + '/' + repo)= "http://github.com/" + org + '/' + repo

  p
    a(href="/target/" + ref.id + "/branch/") See Branches &rarr;

  p
    a(href="/target/" + ref.id + "/prs/") See Pull Requests &rarr;

  if prs != null
    h3 Pull Requests
    table.commit-list
      each pr in prs
        tr(id=pr.number)
          td.pr-id
            a(href=pr.html_url)
              ="#"+pr.number
          td.commit-author
            img(src=pr.user.avatar_url+'?s=40' width=40 height=40)
            a(href=pr.user.html_url)
              =pr.user.login
          td.title
            a(href=pr.html_url)
              =pr.title
          td
            =pr.head.sha.slice(0, 8)
          td(style="white-space: pre")
            form(method="POST" action="/target/"+ref.id+"/build/"+pr.head.ref, style="display: inline")
              input(type="submit" value="build")
            form(method="POST" action="/target/"+ref.id+"/merge/"+pr.head.ref, style="display: inline")
              input(type="hidden" name="reviewer" value=user)
              input(type="hidden" name="number" value=pr.number)
              input(type="submit" value="r+")

  if commits != null
    h3 Commits in branch #[code #{branch}]
    table.commit-list
      each commit in commits
        tr(id=commit.sha)
          td.commit-author
            img(src=commit.author.avatar_url+'?s=40' width=40 height=40)
            a(href=commit.author.html_url)
              =commit.author.login
          td.title
            a(href=commit.html_url)
              =commit.commit.message.replace(/\n[\s\S]+$/, '')
          td
            =commit.sha.slice(0, 8)
          td
            form(method="POST" action="/target/"+ref.id+"/build/"+commit.sha)
              input(type="submit" value="build")
